/*COMMON
*
*/
/*CONTENT
*
*/
html,
body {
  overflow: hidden;
}
.box{
    z-index: 2;
    position: absolute;
}
.blocks{
    z-index: 2;
    position: absolute;
    height: auto;
    padding: 20px 30px;
}
.carousel-caption{
    border: 2px solid black;
    background: rgba(194, 207, 252, 0.596);
    font-weight: 500;
    font-size: 20px;
}
.button{
    margin: 2vh 0 0 0;
    line-height: 65px;
  }
/*MEDIA
*
*/
@media (min-width: 350px) and (max-width: 992px) { 

    img{
        margin-top: 10vh;
        height: 70vh;
    }

}
@media (min-width: 350px) and (max-width: 992px) { 

    .carousel-caption{
        font-size: 16px;
    }

}
@media (min-width: 350px) and (max-width: 400px) { 

    .carousel-caption{
        font-size: 14px;
    }

}