/*COMMON
*
*/
/*CONTENT
*
*/
html,
body {
  overflow: hidden;
}
.box{
    z-index: 2;
    position: absolute;
}
h1{
    color: solid black;
    margin: 15px 0 20px 20px;
}
.blocks{
    z-index: 2;
    position: absolute;
    height: auto;
    background-image: url('../img/code.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 30px;
    border: 3px solid #5b82c2;
    
}
.code_edit input{
    padding: 10px 0 10px 10px;
    border: 3px solid #5b82c2;
}
input{
    margin: 10px;
    font-size: 25px;
}
.button{
    line-height: 65px;
  }
/*MEDIA
*
*/
@media (min-width: 350px) and (max-width: 992px) { 
    .blocks{
        z-index: 2;
        position: absolute;
        background-image: url('../img/board.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border: none;
        height: 300px;
    }
    .button{
        margin-top: 20px;
    }
    }
@media (min-width: 350px) and (max-width: 575px) {
    .code_edit input{
        margin: 20px 20px 20px 5px;
        padding: 0px;
        width: auto;
    }
}
    
