/*COMMON
*
*/
/*CONTENT
*
*/
html,
body {
  overflow: hidden;
}
.box{
    z-index: 2;
    position: absolute;
}
h1{
    color: solid black;
    margin: 15px 0 20px 20px;
}
.blocks{
    z-index: 2;
    position: absolute;
    background-image: url('../img/score.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 30px;
    border: 3px solid #5b82c2;
    height: 80vh;
    
}
.username{
    margin-top: 30vh;
    width: 33vw;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #5b82c2;
}
.button{
    margin: 5vh 0 1.5vh 0;
    line-height: 65px;
  }
  .usn{
    margin-left: auto;
    margin-right: auto;
  }
/*MEDIA
*
*/
@media (min-width: 350px) and (max-width: 992px) { 
    .blocks{
        z-index: 2;
        position: absolute;
        background-image: url('../img/clear\ board.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border: none;
        height: 50vh;
        width: 90vw;
    }
    .username{
        margin-top: 50px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #5b82c2;
    }
    }
@media (min-width: 700px) and (max-width: 999px) {
    .username{
        margin-top: 15%;
    }
}
@media (min-width: 500px) and (max-width: 700px) {
    .username{
        margin-top: 20%;
    }
}
@media (min-width: 400px) and (max-width: 499px) {
    .username{
        margin-top: 25%;
    }
}
@media (min-width: 350px) and (max-width: 399px) {
    .username{
        margin-top: 30%;
    }
}
@media (min-width: 350px) and (max-width: 575px) {
    .username{
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #5b82c2;
    }
}
    
