#canvas1{
  /* border: 5px solid black; */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
      overflow: hidden;
}

body{
  font-family:Verdana, sans-serif;
  /* margin-left:75%; */
  /* margin-top: 5%; */
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
p{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family:'Segoe UI';
  font-size: 80px;
   margin: 50;
  /* height: 80px;
  width: 200px;  */
}

textarea {
text-align: center;
align-self: center;
width: 110%;
height: 20%;
font-family:'Segoe UI';
font-weight: bold;
font-size: 4.3vw;
color: rgb(0, 0, 0);
/* text-indent: 25%; */
background-color: rgba(0,0,0,0); /* Black w/ opacity */
border: none;
resize: none;
overflow: hidden;

}

/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  background-image: url(../img/Board\ with\ title.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  background-image: url(../img/Board\ with\ questions.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  background-image: url(../img/Board\ with\ evaluation.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; 
  /* margin-top: 5vh; */
  /* padding-top: 20px;  */
  left: 0;
  top: -50;
  width: 100%; /* Full width */
  height: 110%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  background-image: url(../img/Board\ with\ mechanics.png);
  background-repeat: no-repeat;
  background-size: 85% 95%;
  background-position: bottom;
  overflow: hidden;
}

.modal4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; 
  padding-top: 20px; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  background-image: url(../img/Board\ with\ gameover.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.modal-content {
  text-align: center;
  margin: auto;
  width: 45%;
}
/* Modal Content */
/* .modal-content { */
  /* width: 45%; */
/* } */
/***************************************************************/
/* Modal Content */
/*QUESTION MODAL */
/* Modal Content */
/*QUESTION MODAL */
.modal-content {
  margin: auto;
  width: 45%;
}
.modal-contentw {
  margin-top: 27vh;
  margin-left: 10%;
  /* margin-left: auto; */
  /* margin-bottom: 20vh; */
  width: 100%;
  height: 60vh;
}
.modal-content textarea {
  font-size: 7vh;
  margin-top: 30vh;
}
.choice{
  display: block;
  position: relative;
  margin-left: 30vw;
  /* margin-top: .05vh; */
  font-size: 4vh;
  width: 50%;
}
.choice input{
    height: 4vh;
    width: 2.5vw;
}
.choice label{
    font-size: 2vw;
    vertical-align: 0.20em;
}
.choice-button{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/***************************************************************/
/*--------------------------------------------------------------------------------------------------*/
/*Button */
.button{
  font-size: 1.5vw;
  height: 8vh;
  width: 15vw ;
  text-decoration: none;
  border: 2px solid #5b82c2;
}
.btn-bubble1 {
color: white;
background-color: #f2bf9a;
background-repeat: no-repeat;
}
.btn-bubble1:hover, .btn-bubble1:focus {
animation: bubbles 1.5s forwards ease-out;
background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) -10% 128% / 1.12em 1.12em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 2% 115% / 0.95em 0.95em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 91% 100% / 1.09em 1.09em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 82% 85% / 0.73em 0.73em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 48% 123% / 0.82em 0.82em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 39% 112% / 0.6em 0.6em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 109% 91% / 1.12em 1.12em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 48% 104% / 0.89em 0.89em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 35% 133% / 1.1em 1.1em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 95% 118% / 0.82em 0.82em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 14% 136% / 1.08em 1.08em;
background-color: #5b82c2;
background-repeat: no-repeat;
}

@keyframes bubbles {
100% {
  background-position: -3% -136%, 0% -252%, 100% -56%, 86% -290%, 40% -64%, 29% 53%, 103% 12%, 58% -299%, 38% 3%, 87% -179%, 10% -275%;
  box-shadow: inset 0 -6.5em 0 #6ce1ef;
}
}
/*-------------------------------------------------------------------------------------------*/

/*
/*****************************************************************/
/* GAME OVER CONTENT */
.modal-content label{
  display: block;
  margin-top: 30vh;
  margin-left: 2.4vw;
  margin-bottom: 10vh;
}
#name{
  font-size: 5vw;
}
/* .gameover-button{
  height: 8vh;
  width: 5vw;
  display: flex;
  text-align: center;
  margin: auto;
  width: 80%;
  } */
.gameover-button button{
  text-align: center;
  font-size: 1.6vw;
  height:  10vh;
  width: 15vw;
  margin-top: 5vh;
  /* margin-bottom: 10px; */
  text-decoration: none;
  border: 2px solid #5b82c2;
}
#restartButton{
  margin-left: 4vw;
  margin-right: 3vw;
}
/************************************************************/
.modal-content1 {
  /* background-color: #fefefe; */
  text-align: center;
  margin: auto;
  margin-top: 2%;
  width: 75%;
  height: 85%;
  background-image: url(../img/asset.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
ul {
  /* text-align: center; */
  /* display: table; */
  /* margin: 0 auto; */
  margin-left:  10%;
  font-size: 1.72vw;
  /* line-height: 50%; */
  width: 55%;
  height: 100%;
}
/* li{
  
  font-size: 1.5vw;
} */
/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

table {
  margin-left: auto;
  margin-right: auto;
  font-family: arial, sans-serif;
  /* font-size: 5%; */
  font-size: 1.2vw;
  border-collapse: collapse;
  width: 110%;
  height: 100%;
}

td, th {
  border: 3px solid #000000;
  text-align: center;
  /* padding: 8px; */
}
/*
ul{
  margin-top: 30vh;
}
li{
  font-size: 15px;
}

*/
/* tr:nth-child(even) {
  background-color: #90EE90;
} */
/*********************************************************************/
/* POP UP STYLE */

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.popup-correct{
margin: 70px auto;
padding: 10px;
background: #fff;
border-radius: 5px;

 width: 60%; 
position: relative;
transition: all 5s ease-in-out;
border: 2px solid green;
}

.popup-correct h2 {
margin-top: 0;
font-family: Tahoma, Arial, sans-serif;
}
.popup-correct .close {
position: absolute;
top: 5px;
right: 5px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}
.popup-correct .close:hover {
color: red;
}
.popup-correct .content {
max-height: 30%;
overflow: auto;
}
/**********************************************/
.popup-wrong{
margin: 70px auto;
padding: 10px;
background: #fff;
border-radius: 5px;

 width: 60%; 
position: relative;
transition: all 5s ease-in-out;
border: 2px solid red;
}

.popup-wrong h2 {
margin-top: 0;
font-family: Tahoma, Arial, sans-serif;
}
.popup-wrong .close {
position: absolute;
top: 5px;
right: 5px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}
.popup-wrong .close:hover {
color: red;
}
.popup-wrong .content {
max-height: 30%;
overflow: auto;
}


/* MEDIA GAME OVER*/
/* @media (min-width: 800px) and (max-width: 1199.98px) {
   
  #name{
    font-size: 50px;
  }
  .gameover-button{
    display: block;
    }
    .gameover-button button{
      margin-top: 0;
  }
    #restartButton{
      margin-left: 10px;
    }

}
@media (min-width: 620px) and (max-width: 799px) { 
  #name{
    font-size: 40px;
  }
  .gameover-button{
    display: block;
    }
    .gameover-button button{
      margin-top: 0;
  }
    #restartButton{
      margin-left: 10px;
    }

}
@media (min-width: 475px) and (max-width: 619px) { 
  #name{
    font-size: 30px;
  }
  .gameover-button{
    display: block; 
    }
  .gameover-button button{
    text-align: center;
    font-size: 20px;
    height: 70px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 0;
}
#restartButton{
  margin-left: 10px;
}

}
@media (min-width: 360px) and (max-width: 474px) { 
  #name{
    font-size: 20px;
  }
  .gameover-button{
    display: block; 
    }
  .gameover-button button{
    text-align: center;
    font-size: 20px;
    height: 70px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 0;
}
#restartButton{
  margin-left: 10px;
} */

/* } */
 /* MEDIA QUESTION*/

 @media (min-width: 940px) and (max-width: 1199.98px) {
  .modal-content textarea {
    font-size: 28px;
  }
  .choice{
    margin-left: 28vw;
  }
 }
 @media (min-width: 840px) and (max-width: 939px) {
  .modal-content textarea {
    font-size: 26px;
  }
  .choice{
    margin-left: 27vw;
  }
 }
 @media (min-width: 740px) and (max-width: 839px) {
  .modal-content textarea {
    font-size: 24px;
  }
  .choice{
    margin-left: 27vw;
  }
 }
 @media (min-width: 640px) and (max-width: 739px) {
  .modal-content textarea {
    font-size: 22px;
  }
  .choice{
    margin-left: 27vw;
  }
 }
 @media (min-width: 540px) and (max-width: 639px) {
  .modal-content textarea {
    font-size: 20px;
  }
  .choice{
    margin-left: 27vw;
  }
 }
 @media (min-width: 440px) and (max-width: 539px) {
  .modal-content textarea {
    font-size: 18px;
  }
  .choice{
    margin-left: 27vw;
  }
 }
 @media (min-width: 360px) and (max-width: 439px) {
  .modal-content textarea {
    font-size: 18px;
  }
  .choice{
    margin-left: 27vw;
  }
 }



