/*COMMON
*
*/
/*CONTENT
*
*/
.blocks{
    background-image: url('../../img/teacher/Board.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 30px;
}
.blocks{
    color: whitesmoke;
}
.blocks input{
    border-color: whitesmoke;
}
.form-floating{
    color: black;
}
.form-check{
    margin-top: 20px;
}
#sub{
    width: 100px;
}
.answer{
    width: 400px;
    vertical-align: -0.10em;
}
.container{
    font-size: 20px;
}
.row{
    margin-top: 5px;
}
.game{
    width: 200px;
}
.items{
    margin-top: 10px;
    margin-bottom: 10px;
}
#numb{
    margin-left: 5px;
}
.blocks{
    color: whitesmoke;
}
.blocks table{
    color: whitesmoke;
}
.button{
    width: 200px;
    margin: 20px 20px 10px 0;
}
.but{
    text-align: right;

}
/*MEDIA
*
*/
@media (min-width: 350px) and (max-width: 975px) {
    .answer{
        width: auto;
    }
} 
@media (min-width: 350px) and (max-width: 575px) {
    .form-check{
        margin-top: 10px;
    } 
    .button{
        width: 250px;
    }
    .formradio{
        display: none;
        visibility: hidden;
    }
    #sub{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .items{
        margin-top: 0;
    }
    }