/*COMMON
*
*/
/*CONTENT
*
*/
 h2{
     margin-top: 3vh;
 }
 .blocks{
    background-image: url('../img/Board.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 30px;
}
.blocks{
    color: whitesmoke;
}
.blocks table{
    color: whitesmoke;
}
.form-check{
    margin-top: 20px;
}
.button{
    margin-bottom: 4vh;
    width: 200px;
}
/*MEDIA
*
*/
.hoverTable tr:hover {
    background-color: rgba(0, 255, 0, 0.2);;
}

@media (min-width: 350px) and (max-width: 575px) {
    .form-check{
        margin-top: 10px;
    } 
    .button{
        width: 250px;
        margin-left: 20px;
    }
    }
    
