/*COMMON
*
*/
/*CONTENT
*
*/

.blocks{
    color: whitesmoke;
}
.blocks table{
    color: whitesmoke;
}
.form-check{
    margin-top: 20px;
}
.button{
    margin-bottom: 4vh;
    width: 200px;
}
.hoverTable{
    width:100%; 
    border-collapse:collapse; 
  }
  .hoverTable td{ 
    padding:7px;  
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
  }
  /* Define the hover highlight color for the table row */
    .hoverTable tr:hover {
          background-color: rgba(0, 255, 0, 0.2);;
    }
/*MEDIA
*
*/

@media (min-width: 350px) and (max-width: 575px) {
    .form-check{
        margin-top: 10px;
    } 
    .button{
        width: 250px;
        margin-left: 20px;
    }
    }
    
