html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #00afe9;
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  color: black;
}
.button {
  text-align: center;
  font-size: 20px;
  height: 70px;
  width: 140px;
  margin: 50px 30px 15px 0;
  text-decoration: none;
  border: 2px solid #e983ae;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
.btn-bubble1 {
  color: white;
  background-color: #e363db;
  background-repeat: no-repeat;
}
.btn-bubble1:hover, .btn-bubble1:focus {
  animation: bubbles 1.5s forwards ease-out;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) -10% 128% / 1.12em 1.12em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 2% 115% / 0.95em 0.95em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 91% 100% / 1.09em 1.09em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 82% 85% / 0.73em 0.73em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 48% 123% / 0.82em 0.82em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 39% 112% / 0.6em 0.6em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 109% 91% / 1.12em 1.12em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 48% 104% / 0.89em 0.89em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 35% 133% / 1.1em 1.1em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 95% 118% / 0.82em 0.82em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 14% 136% / 1.08em 1.08em;
  background-color: #f9a0e9;
  background-repeat: no-repeat;
}

@keyframes bubbles {
  100% {
    background-position: -3% -136%, 0% -252%, 100% -56%, 86% -290%, 40% -64%, 29% 53%, 103% 12%, 58% -299%, 38% 3%, 87% -179%, 10% -275%;
    box-shadow: inset 0 -6.5em 0 #6ce1ef;
  }
}
