/*COMMON
*
*/
/*CONTENT
*
*/

.box{
    z-index: 2;
    position: absolute;
}

.blocks{
    z-index: 2;
    position: absolute;
    height: 50vh;
    width: 90vw; 
}
img{
    align-self: center;
    height: 40vh;
    width: 40vh;
    transition: transform .2s; /* Animation */
    margin-top: 11vh;
}
.character{
    text-align: center;
    background-image: url('../../img/student/PlainBoard.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 90vh;
    width: 40vw;
}
.card-body{
    padding: 0 10vw;
}
.button{
    line-height: 65px;
  }
  img:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
/*MEDIA
*
*/
@media (min-width: 350px) and (max-width: 992px) { 
    img{
        align-self: center;
        height: 40vh;
        width: 40vh;
        transition: transform .2s; /* Animation */
        margin-top: 11vh;
    }
    .card-body{
        padding: 0 20vw;
    }
    .character{
        height: 90vh;
        width: 100vw;
    }
    .button{
        margin-top: 20px;
    }
    }

