/*COMMON
*
*/
/*CONTENT
*
*/
html,
body {
  overflow: hidden;
}
.box{
    z-index: 2;
    position: absolute;
}
h1{
    color: solid black;
    margin: 1.5vh 0 3vh 2vw;
}
.blocks{
    z-index: 2;
    position: absolute;
    height: auto;
    background-image: url('../../img/student/code.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 30px;
    border: 3px solid #5b82c2;
    
}
.code_edit input{
    padding: 1vh 0 1vh 1vw;
    border: 3px solid #5b82c2;
}
input{
    margin: 1vh 1vw;
    font-size: 25px;
}
.button{
    margin: 10vh 6vw 1.5vh 0;
    line-height: 65px;
  }
/*MEDIA
*
*/
@media (min-width: 350px) and (max-width: 992px) { 
    .blocks{
        z-index: 2;
        position: absolute;
        background-image: url('../../img/student/clear.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border: none;
        height: 50vh;
    }
    .button{
        margin-top: 20px;
    }
    .code_edit input{
        margin: 2vh 2vw 2vh 13vw;
        padding: 0px;
        width: auto;
    }
    h1{
        color: solid black;
        margin: 7vh 0 3vh 13vw;
    }
    }
    @media (min-width: 350px) and (max-width: 400px) { 
        .code_edit input{
            width: 40vh;
        }
    }
    
