/*COMMON
*
*/
/*CONTENT
*
*/

.box{
    z-index: 2;
    position: absolute;
}
h1{
    color: solid black;
    margin: 15px 0 20px 20px;
}
.blocks{
    font-size: 120%;
    z-index: 2;
    position: absolute;
    height: 125vh;
    width: 90vw;
    text-align: center;
    background-image: url('../../img/student/mechanics.png');
    background-size: 120% 110%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2vh 3vw;
    
}
.instruction{ 
    margin-top: 30vh;
    padding: 0 40px;
    font-size: 120%;
}
.button{
    margin-top: 1vh;
    line-height: 65px;
  }
/*MEDIA
*
*/
@media (min-width: 350px) and (max-width: 992px) { 
    .blocks{
        height: auto;
        background-image: url('../img/clear\ board.png'); 
    }
    .button{
        margin-bottom: 15vh;
       
      }
    .instruction{
       margin-top: 30%; 
    }
    html,
    body {
  overflow: visible;
    }
    }
@media (min-width: 899px) and (max-width: 992px) { 

    .instruction{
       font-size: 15px;
    }

    }

    @media (min-width: 650px) and (max-width: 899px) { 

        .instruction{
           font-size: 14px;
        }
    
        }
        @media (min-width: 350px) and (max-width: 649px) { 

            .instruction{
               font-size: 11px;
            }
        
            }
    
