/*COMMON
*
*/
/*CONTENT
*
*/

h1{
    margin: 10px;
}
.score label{
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}
label{
    margin: 10px;
    font-size: 20px;
}
.blocks{
    z-index: 2;
    position: absolute;
    height: auto;
    background-image: url('../../img/student/leaderboard.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 30px;
    border: 3px solid #5b82c2;
}
img{
    height: 3vh;
    width: 3vw;
}
.button{
    margin: 50px 30px 15px 0;
    line-height: 70px;
}
/*MEDIA
*
*/

