
h1{
    margin-bottom: 40px;
    margin-top: 10px;
    color: whitesmoke;
}
.blocks{
    color: whitesmoke;
    background-image: url('../img/teacher/Board.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 30px;
    
}
img{
    width: 25px;
    height: 25px;
}
.Username{
    margin-bottom: 30px;
}
.Password{
    margin-bottom: 30px;
}
::placeholder{
    font-size: 20px;
}
.Main{
    padding: 30px;
    margin-top: 10px;
    height: auto;
}
.form-group{
    height: auto;
    border-radius: 20px;
    border: 3px solid #473432;
}
.button{
    margin:auto;
    display:block;
    text-align: center;
    width: 150px;
    height: 50px;
}