
<!doctype html>
<html lang="en">
  <head>
    <title>Game Code</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../asset/bootstrap-5.0.1-dist/css/bootstrap.min.css">
    <!---CREATE CSS-->
    <link rel="stylesheet" href="../css/LandingPageStudent.css">
    <link rel="stylesheet" href="../includes/common.css">
  </head>
  <body>
    <div class="Main container">
      <!-----CONTENT IN CONTAINER-->
    <form method='post' action = 'EditCode.php'>
        <!-----CONTENT IN CONTAINER-->
        <div class="Box container">
            <!----CONTENT START------->
          <div class="blocks container  p-0 d-flex justify-content-center position-absolute top-50 start-50 translate-middle">
            <div class="container overflow-hidden">
                <div class="row gy-5">
                  <div class="col-md-6">
                    <div class="welcome p-3">
                        <h1>Welcome To Bubble Popper</h1>
                        <p>Play with us while learning. Help us save Bubblelandia</p>
                        
                        <div class="container d-flex justify-content-center">
                            <a href="Codes.php" type="button" class="button btn-bubble1">Next</a>
                          </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="carou"style="background:transparent;">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active "data-interval="1000">
                            <img src="../img/story/Kingdom.png" class="d-block w-100" alt="..." >
                          </div>
                          <div class="carousel-item"data-interval="1000">
                            <img src="../img/story/Chosen.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item"data-interval="1000">
                            <img src="../img/story/Bubbles.png" class="d-block w-100" alt="...">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
               
          </div> 
        </div>
    </div>
  </div>
  </div>
    <canvas></canvas>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="../../asset/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/LandingPageStudent.js"></script>
    <script src="../includes/background.js"></script>
  </body>
</html>