<!doctype html>
<html lang="en">
  <head>
    <title>Admin</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../asset/bootstrap-5.0.1-dist/css/bootstrap.min.css">
    <!---Sign in CSS -->
    <link rel="stylesheet" href="../css/option.css">
</head>
  <body>
      <!----MAIN CONTAINER-->
    <div class="Main container-lg align-items-sm-center">
        <div class="Box container  mt-5 p-0">
            <!---NAVIGATION BAR START-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="card ms-5 mt-2" style="width: 18rem;">
                        <img src="../img/student/ABoy.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Student</h5>
                         
                          <a href="../../student/view/Codes.php" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-6">
                    <div class="card ms-5 mt-2" style="width: 18rem;">
                        <img src="../img/teacher/teacher.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Teacher</h5>
                          <a href="../../teacher/view/Log_in.php" class="btn btn-primary">Enter</a>
                        </div>
                      </div>
                </div>
              </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="../../asset/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"></script>
    <!--Sign in JS-->
    <script src="../js/table.js"></script>
</body>
</html>